
/*element styles*/

body{
    color: black;
}

h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 3em !important;
    color: black;
    margin-bottom: 10px;
    
}

hr {
    margin: 0;
    border-width: 0px;
    background-color: grey;
    height: 1px;
    
    
}

svg {
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 400px;
}

figcaption {
    font-size: 8pt;
    line-height: 10px;
    text-align: left;
}

a {
    color:#ACB1D7;
}

a:hover{
    color: #303D9A;
}

/*altered styles from slider*/
.cbp-fwdots span.cbp-fwcurrent {
    
    transition: opacity 1s ease-in-out;
    background-color: #303D9A;
    box-shadow: 0 0 0 2px #ACB1D7;
}

.cbp-fwslider nav span{
    color: #303D9A;
    background: none;
}

.cbp-fwslider nav span:hover{
    background: #ACB1D7;
    color: #fff;
    
}

.clearfix{
    color: #303D9A;
}

/*map slide styles*/
.map {
    height: 0;
    width: 90%;
    padding-top: 30%;
    padding-left: 5%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
  
    
}



.info-text{
    text-align: left;
    z-index: 20;
    position: absolute;
    top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    
    display: inline-block;
     white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
 
   
    
}


.legend{
    
    position: absolute;
    z-index: 50;
    top: 420px;
    
    
}



/*date bar at top*/

.date {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-image: url(../images/vertical-stripes.png);
    background-repeat: repeat-x;
    /*background-color: #485BE6;*/
    color: #000;
    font-size: 18pt;
}

/*quiz styles*/

iframe.quiz{
    width: 80%;
    height: 490px;
    display: block;
    margin: 0 auto;
    border: none;
    
}



/*general slider styles*/

.slider-content {
    
    width: 90%;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
    /*border: 1px solid black;*/
    overflow: hidden; /* add this to contain floated children */
    white-space: normal;      /* CSS3 */      
    word-wrap: break-word;      /* IE */
    line-height: 25px;
    
}
.left {
    width: 40%;
    float:left; /* add this */
    /*border: 1px solid red;*/
}
.right {
    width: 50%;
    /*border: 1px solid green;*/
    float: right; /* add this */
    text-align: left;
    padding-right: 40px;
    margin-top: 50px;
    padding-top: 20px;
}

/* classes applied to individual slides (in rough chronological order)*/

.centered {
    padding-top: 70px;
    
}

.subtitle {
    font-family: 'Just Another Hand', cursive;
    color: black;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 0px;
}

.quote{
    
    width: 50%;
    height: 500px;
    margin-left: 50px;
    background-image: url(../images/amendment-1.png);
    background-repeat: no-repeat;
    background-position: right;
}


.chart{
    display: inline-block;
    padding-top: 20px;
    margin-bottom: -20px;
    
}



.chart img {
    width: 300px;
}

.chart-right{
    float: right;
    margin-right: 100px;
}
 
.chart-left{
    float: left;
    margin-left: 100px;
}

.happy {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    letter-spacing: 3px;
     white-space: normal;      /* CSS3 */      
    word-wrap: break-word;      /* IE */
}

.happy iframe{
    width: 480px;
    height: 270px; 
}

.ellipses{
    letter-spacing: 5px;
}

/*IDs*/


#subtitle {
    font-family: 'Just Another Hand', cursive;
    color: black;
    letter-spacing: 10px;
    
}

#forrester {
    
    width: 300px;
    padding-top: 50px;
    margin-left: 70px;
    border-radius: .25em;
    /*border: 1px solid #D27A72;*/
}

#forrester-caption{
    padding-left: 20px;
}

#nc {
    
    position: absolute;
    top: 345px;
    left: 350px;
    /*z-index: -4;*/
    max-width: 500px;
   
}

#first-slide{
    
    z-index: 4;
    position: relative;
    top: 0px;
    width: 75%;
  
    margin: 0 auto;
    line-height: 25px;
  
    
    
}

#slide-2 {
    width: 65%;
    padding-top: 25px;
}

#amendment{
    margin-top: 40px;
    margin-left: 60px;
}

#slide-3 {
    padding-top: 20px;
    width: 45%;
}


#fisher{
    width: 500px;
    padding-top: 40px;
}

#windsor{
    padding-top: 50px;

}

#windsor img{
    width: 500px;
}

#windsor-text{
    padding-top: 30px;
}

#cooper{
    width: 500px;
    padding-top: 50px;
}

#th-circuit{
    margin-left: 60px;
    margin-top: 25px;
    
}

#ucc {
    width: 300px;
    margin-top: 40px;
    margin-left: 75px;
}

#quiz-title{
    text-align: left;
    margin-bottom: 5px;
    font-size: 24pt;
    margin-left: 145px;
    white-space: normal;      /* CSS3 */      
    word-wrap: break-word;      /* IE */
}

#quiz-sub{
    padding-left: 10px;
}

/*media queries for small sizes*/

@media only screen and (max-width : 768px) {


.left{
    float: none;
    width: 100%;
}
.right{
    float: none;
    width: 100%;
    padding-left: 25px;
}

.date{
    color: #000;
}




#nc {
    
    position: inherit;
    z-index: 0;
    max-width: 500px;
   
}

h1 {
    line-height: 40px;
}

#forrester{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

#forrester{
    width: 100%;
    margin:0 auto;
    padding: 0;
}

#forrester-caption{
    padding-left: 45px;
}
#slide-2{
    width: 100%;
}

#slide-3 {
   
    width: 100%;
}

#fisher{
    width: 300px;
    margin: 0 auto;
}

#windsor img{
    width: 300px;
    margin: 0 auto;
}

.map #map-1{
    width: 100%;
}

.info-text{
    z-index: auto;
    position: inherit;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 45px;

}



#map-1{
    height: auto;
    width: 100%;
    position: absolute;
    top: 225px;
    left: 30px;
    
}

.legend{
    
   
    position: absolute;
    top: 150px;
    
    
    
}

.legend img{
    width: 300px;
}

#cooper{
    width: 300px;
    margin: 0 auto;
}

#th-circuit{
    margin-left: 0px;
    width: 300px;
}

.happy iframe{
    width: 300px;
    height: auto;
}

.chart-right{
    float: none;
    margin: 0;
}
 
.chart-left{
    float: none;
    margin: 0;
}

#ucc {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#amendment{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#quiz-title{
    margin-left: 30px;
    display: inline-block;
    
}



}